<%= form_with(model: friend_request) do |form| %>
  <% if friend_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend_request.errors.count, "error") %> prohibited this friend_request from being saved:</h2>

      <ul>
        <% friend_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.hidden_field :friend_id, value: user.id %>
  </div>

  <div>
    <p>Do you want to send this user a request?</p>
    <%= form.submit %>
  </div>
<% end %>
